assets/workflows/angular-trend-harvester.json
{
  "name": "Angular Focus Trend Harvester",
  "nodes": [
    {
      "parameters": {
        "content": "## Angular Focus Trend Harvester\n\nSources:\n- Google Trends related queries\n- Google News headlines (SerpAPI)\n- YouTube topic search\n- Stack Overflow active questions\n- Twitter/X live search\n- Product Hunt + Hacker News feeds",
        "height": 200,
        "width": 280
      },
      "id": "note-0",
      "name": "Workflow Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2220,
        -80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "trigger-0",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -2000,
        80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": "contentflow-jrzsr",
        "collection": "projects/johnpribesh/angular-focus"
      },
      "id": "firestore-get-0",
      "name": "Get Seed Queries",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "position": [
        -1800,
        80
      ],
      "typeVersion": 1.1,
      "credentials": {
        "googleApi": {
          "id": "xYGLPf77RjP9UuK9",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const doc = $input.first()?.json || {};\nconst fallbackQueries = [\"Angular latest features\", \"Angular performance optimization\", \"Angular signals tutorial\", \"Angular vs React enterprise\"];\nconst queries = Array.isArray(doc['topic-queries']) && doc['topic-queries'].length ? doc['topic-queries'] : fallbackQueries;\n\nif (!Array.isArray(queries) || queries.length === 0) {\n  throw new Error('No trend queries configured for this workflow. Add topic-queries to Firestore or update the fallback list.');\n}\n\nreturn queries.map((query, index) => ({\n  json: {\n    query,\n    focusArea: doc.focusArea ?? 'Angular ecosystem updates',\n    queryIndex: index,\n    totalQueries: queries.length\n  }\n}));"
      },
      "id": "prepare-0",
      "name": "Prepare Trend Queries",
      "type": "n8n-nodes-base.code",
      "position": [
        -1600,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "geo",
              "value": "US"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "date",
              "value": "now 7-d"
            },
            {
              "name": "data_type",
              "value": "RELATED_QUERIES"
            },
            {
              "name": "engine",
              "value": "google_trends"
            },
            {
              "name": "cat",
              "value": "31"
            }
          ]
        },
        "options": {}
      },
      "id": "http-0",
      "name": "Google Trends Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1400,
        80
      ],
      "typeVersion": 4.2,
      "credentials": {
        "serpApi": {
          "id": "eshSutmsIgvrqy5c",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const questionFilter = false;\nconst intentTag = 'angular_insights';\nconst focusArea = 'Angular ecosystem updates';\nconst strategy = 'Harvest Angular ecosystem trends to shape educational content for builders and engineering leaders.';\n\nconst queryItems = $('Prepare Trend Queries').all() || [];\nconst trendItems = $('Google Trends Lookup').all() || [];\nconst newsItems = $('Google News Stories').all() || [];\nconst youtubeItems = $('YouTube Topic Search').all() || [];\nconst stackOverflowItems = $('Stack Overflow Questions').all() || [];\nconst twitterItems = $('Twitter Topic Search').all() || [];\nconst productHuntItems = $('Product Hunt Front Page').all() || [];\nconst hackerNewsItems = $('Hacker News Front Page').all() || [];\n\nconst questionWords = ['how', 'what', 'why', 'when', 'where', 'best', 'top', 'which'];\nconst keepQuery = query => {\n  if (!questionFilter) {\n    return true;\n  }\n  if (!query) {\n    return false;\n  }\n  const lower = query.toLowerCase();\n  return questionWords.some(word => lower.startsWith(word + ' ') || lower.includes(' ' + word + ' '));\n};\n\nconst getQueryContext = index => queryItems[index]?.json?.query ?? null;\nconst toNumber = value => {\n  if (typeof value === 'number' && Number.isFinite(value)) {\n    return value;\n  }\n  if (typeof value === 'string') {\n    const parsed = parseFloat(value.replace(/[^0-9.]/g, ''));\n    return Number.isFinite(parsed) ? parsed : 0;\n  }\n  return 0;\n};\n\nconst normalizedData = {\n  trends: [],\n  googleNews: [],\n  youtube: [],\n  stackOverflow: [],\n  twitter: [],\n  productHunt: [],\n  hackerNews: []\n};\n\ntrendItems.forEach((item, index) => {\n  const context = getQueryContext(index)\n    ?? item.json?.search_parameters?.q\n    ?? item.json?.query\n    ?? null;\n  const related = item.json?.related_queries ?? {};\n  (related.top || []).forEach(entry => {\n    if (!entry?.query || !keepQuery(entry.query)) {\n      return;\n    }\n    normalizedData.trends.push({\n      intent: intentTag,\n      series: 'top',\n      queryContext: context,\n      topic: entry.query,\n      score: entry.extracted_value ?? entry.value ?? null,\n      formattedValue: entry.formatted_value ?? null,\n      link: entry.link ?? null\n    });\n  });\n  (related.rising || []).forEach(entry => {\n    if (!entry?.query || !keepQuery(entry.query)) {\n      return;\n    }\n    normalizedData.trends.push({\n      intent: intentTag,\n      series: 'rising',\n      queryContext: context,\n      topic: entry.query,\n      score: entry.extracted_value ?? entry.value ?? null,\n      formattedValue: entry.formatted_value ?? null,\n      link: entry.link ?? null\n    });\n  });\n});\n\nnewsItems.forEach((item, index) => {\n  const context = getQueryContext(index);\n  (item.json?.news_results || []).forEach(article => {\n    normalizedData.googleNews.push({\n      queryContext: context,\n      title: article.title,\n      snippet: article.snippet ?? article.title,\n      url: article.link,\n      source: article.source,\n      published: article.date\n    });\n  });\n});\n\nyoutubeItems.forEach((item, index) => {\n  const context = getQueryContext(index);\n  (item.json?.video_results || []).forEach(video => {\n    normalizedData.youtube.push({\n      queryContext: context,\n      title: video.title,\n      channel: video.channel?.name,\n      url: video.link,\n      views: video.views,\n      published: video.published_text\n    });\n  });\n});\n\nstackOverflowItems.forEach((item, index) => {\n  const context = getQueryContext(index);\n  (item.json?.items || []).forEach(question => {\n    normalizedData.stackOverflow.push({\n      queryContext: context,\n      title: question.title,\n      url: question.link,\n      score: question.score,\n      answerCount: question.answer_count,\n      tags: question.tags,\n      isAnswered: question.is_answered\n    });\n  });\n});\n\ntwitterItems.forEach((item, index) => {\n  const context = getQueryContext(index);\n  const timeline = item.json?.timeline || [];\n  timeline.forEach(entry => {\n    const tweet = entry?.tweet;\n    if (!tweet?.full_text) {\n      return;\n    }\n    normalizedData.twitter.push({\n      queryContext: context,\n      text: tweet.full_text,\n      conversationId: tweet.conversation_id,\n      user: tweet.author?.name ?? tweet.author?.username,\n      username: tweet.author?.username,\n      url: tweet.link\n    });\n  });\n});\n\nconst allQueries = queryItems.map(item => (item.json?.query || '').toLowerCase()).filter(Boolean);\nconst matchesQueries = text => {\n  const lowered = (text || '').toLowerCase();\n  return allQueries.filter(query => query && lowered.includes(query));\n};\n\nproductHuntItems.slice(0, 20).forEach(item => {\n  const entry = item.json || {};\n  const matches = matchesQueries(entry.title || entry.contentSnippet || '');\n  if (!matches.length && allQueries.length) {\n    return;\n  }\n  normalizedData.productHunt.push({\n    title: entry.title,\n    url: entry.link,\n    summary: entry.contentSnippet,\n    published: entry.isoDate,\n    matches\n  });\n});\n\nhackerNewsItems.slice(0, 20).forEach(item => {\n  const entry = item.json || {};\n  const matches = matchesQueries(entry.title || entry.contentSnippet || '');\n  if (!matches.length && allQueries.length) {\n    return;\n  }\n  normalizedData.hackerNews.push({\n    title: entry.title,\n    url: entry.link,\n    summary: entry.contentSnippet,\n    published: entry.isoDate,\n    matches\n  });\n});\n\nconst sourceCounts = Object.fromEntries(Object.entries(normalizedData).map(([key, value]) => [key, Array.isArray(value) ? value.length : 0]));\nconst summary = {\n  focusArea,\n  intentTag,\n  queriesAnalyzed: queryItems.length,\n  relatedTrendCount: normalizedData.trends.length,\n  sourceCounts,\n  collectedAt: new Date().toISOString(),\n  strategy\n};\n\nreturn [{\n  json: {\n    normalizedData,\n    summary,\n    strategy,\n    intentTag\n  }\n}];"
      },
      "id": "normalize-0",
      "name": "Normalize Trend Signals",
      "type": "n8n-nodes-base.code",
      "position": [
        -1200,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "messages": {
          "values": [
            {
              "content": "You are a developer advocate focused on the Angular ecosystem. You turn raw search interest into high-signal content concepts for John Pribesh, a founder and full-stack engineer who ships Angular + Firebase products quickly.\n\nGoals:\n- Spotlight Angular updates that matter to production teams\n- Surface performance, architecture, and productivity angles\n- Create hooks that position John as a pragmatic Angular expert\n- Recommend platform mix (LinkedIn, Twitter, YouTube Shorts, long-form) to maximize reach\n\nRespond with structured topic ideas that John can publish this week.\n\nIntegrate signals from Google News, YouTube, Stack Overflow, Twitter/X, and Product Hunt + Hacker News feeds alongside the Google Trends insights.",
              "role": "system"
            },
            {
              "content": "=Translate the Angular-focused trend data into 5-8 actionable content opportunities.\n\nTrend Signals:\n{{ JSON.stringify($json.normalizedData, null, 2) }}\n\nSummary:\n{{ JSON.stringify($json.summary, null, 2) }}\n",
              "role": "user"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.55
        }
      },
      "id": "ai-0",
      "name": "AI Idea Generator",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -1000,
        80
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "wjgHrUwGkO7ncPzg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const workflowTag = 'angular_trend_harvester';\nconst aiResponse = $input.first()?.json;\nlet topics = [];\n\ntry {\n  if (aiResponse?.message?.content?.topics) {\n    topics = aiResponse.message.content.topics;\n  } else if (aiResponse?.message?.content) {\n    const raw = aiResponse.message.content;\n    const parsed = typeof raw === 'string' ? JSON.parse(raw) : raw;\n    topics = parsed.topics || [];\n  } else if (Array.isArray(aiResponse?.topics)) {\n    topics = aiResponse.topics;\n  } else {\n    throw new Error('Unexpected AI response shape');\n  }\n} catch (error) {\n  throw new Error('Failed to parse AI response: ' + error.message);\n}\n\nreturn topics.map(topic => ({\n  json: {\n    title: topic.title,\n    description: topic.description,\n    keywords: Array.isArray(topic.keywords) ? topic.keywords : (topic.keywords ? [topic.keywords] : []),\n    platforms: Array.isArray(topic.platforms) ? topic.platforms : (topic.platforms ? [topic.platforms] : []),\n    urgency: topic.urgency,\n    relevance_score: topic.relevance_score ?? null,\n    generatedAt: new Date().toISOString(),\n    status: 'pending',\n    sourceWorkflow: workflowTag\n  }\n}));"
      },
      "id": "parse-0",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "position": [
        -800,
        80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "create",
        "projectId": "contentflow-jrzsr",
        "collection": "projects/johnpribesh/angular-trends",
        "columns": "=title,description,keywords,platforms,urgency,relevance_score,status,generatedAt,sourceWorkflow"
      },
      "id": "save-0",
      "name": "Save Ideas to Firestore",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "position": [
        -600,
        80
      ],
      "typeVersion": 1.1,
      "credentials": {
        "googleApi": {
          "id": "xYGLPf77RjP9UuK9",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_news"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "gl",
              "value": "us"
            }
          ]
        },
        "options": {}
      },
      "id": "google-news-stories",
      "name": "Google News Stories",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1400,
        200
      ],
      "typeVersion": 4.2,
      "credentials": {
        "serpApi": {
          "id": "eshSutmsIgvrqy5c",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "youtube"
            },
            {
              "name": "search_query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "hl",
              "value": "en"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "type",
              "value": "video"
            }
          ]
        },
        "options": {}
      },
      "id": "youtube-topic-search",
      "name": "YouTube Topic Search",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1400,
        320
      ],
      "typeVersion": 4.2,
      "credentials": {
        "serpApi": {
          "id": "eshSutmsIgvrqy5c",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.stackexchange.com/2.3/search/advanced",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "order",
              "value": "desc"
            },
            {
              "name": "sort",
              "value": "activity"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "site",
              "value": "stackoverflow"
            },
            {
              "name": "pagesize",
              "value": "25"
            }
          ]
        },
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "id": "stack-overflow-questions",
      "name": "Stack Overflow Questions",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1400,
        440
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "twitter"
            },
            {
              "name": "type",
              "value": "search"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "hl",
              "value": "en"
            }
          ]
        },
        "options": {}
      },
      "id": "twitter-topic-search",
      "name": "Twitter Topic Search",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1400,
        560
      ],
      "typeVersion": 4.2,
      "credentials": {
        "serpApi": {
          "id": "eshSutmsIgvrqy5c",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.producthunt.com/feed"
      },
      "id": "product-hunt-feed",
      "name": "Product Hunt Front Page",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -2000,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage"
      },
      "id": "hacker-news-feed",
      "name": "Hacker News Front Page",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        -2000,
        360
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Product Hunt Front Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hacker News Front Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Seed Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Seed Queries": {
      "main": [
        [
          {
            "node": "Prepare Trend Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Trend Queries": {
      "main": [
        [
          {
            "node": "Google News Stories",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Topic Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stack Overflow Questions",
            "type": "main",
            "index": 0
          },
          {
            "node": "Twitter Topic Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Trends Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Trends Lookup": {
      "main": [
        [
          {
            "node": "Normalize Trend Signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Trend Signals": {
      "main": [
        [
          {
            "node": "AI Idea Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Idea Generator": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Save Ideas to Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "versionId": "c663f03f-8135-4da9-96eb-7912d8d60b95",
  "id": "40081f36-c9e3-453a-8bc2-2ba10be6a3f9",
  "meta": {},
  "tags": []
}
